<!-- navbar.ejs -->

<header id="main-header">
    <img id="logo-header" src="/img/logo1.png" alt="GreenMind">
    <nav>
        <ul>
            <li><a href="/profile" style="color: #31840D;">Inicio</a></li>
            <li><a href="/nosotros" style="color: #31840D;">Acerca</a></li>
            <li><a href="/cursos" style="color: #31840D;">Cursos</a></li>
            <li><a href="/tokens" style="color: #31840D;">Tokens</a></li>
            <li> <img src="/img/moneda.webp" alt="mone" class="nav-mone"></li>
        </ul>
    </nav>
</header>
