<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%-include('../partials/head.ejs') %>
    <title>Registro</title>
</head>
<body>
    
    <div class="container">
        <div class="col-sm-6 mx-auto">
            <div class="card mt-5">
                <div class="card-body">
                    <h1 class="text-center">
                        <span class="fa fa-sign-in"></span>Registro
                    </h1>

                    <% if (message) { %>
                        <p><%= message %></p>
                    <% } %>

                    <form action="/register" method="POST">
                        <div class="text-center">
                            <label for="email">Email:</label>
                            <input type="email" id="email" name="email" required>
                        </div>
                            <br>
                        <div class="text-center">
                            <label for="password">Contraseña:</label>
                            <input type="password" id="password" name="password" required>
                        </div>
                            <br>
                        <button type="submit" class="mx-auto d-block">Registrarse</button>
                    </form>    
                    <p class="text-center">¿Ya tienes una cuenta? <a href="/login">Iniciar sesión</a></p>

                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>
